* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
	color: #283d3b;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Noto Serif", serif;
}
a {
	text-decoration: none;
	color: inherit;
}

:root {
	--text-color: #283d3b;
	--accent-color: #197278;
	--background-color: #edddd4;
	--primary-color: #c44536;
	--secondary-color: #772e25;
}

a[href="/"] {
	color: var(--primary-color);
	font-weight: bold;
}

.flex-column {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	/*justify-content: center;
	align-items: center;*/
}
.flex-row {
	display: flex;
	flex-flow: row;
	gap: 1rem;
	/*justify-content: center;
	align-items: center;*/
}

#profile {
	border-radius: 1rem;
	object-fit: cover;
	width: 10rem;
}

#novels {
	overflow-x: scroll;
}
#novels::before {
	content: "";
	display: block;
	position: sticky;
	left: 0;
	top: 0;
	background: linear-gradient(to right, white, transparent);
	width: 1rem;
	height: 20rem;
	flex-shrink: 0;
}
#novels::after {
	content: "";
	display: block;
	position: sticky;
	right: 0;
	top: 0;
	background: linear-gradient(to left, white, transparent);
	width: 1rem;
	height: 20rem;
	flex-shrink: 0;
}

.card {
	padding: 1rem;
	border-radius: 1rem;
	background: white;
}
.novel {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 1rem;
	padding: 1rem;
	background: var(--background-color);
	width: 15rem;
	height: 20rem;
	flex-shrink: 0;
	font-family: "Noto Serif";
	font-size: 1.5rem;
	transition: color 100s ease-in-out, background 100ms ease-in-out;
}
.novel:hover {
	color: black;
	background: var(--accent-color);
}
.novel:not(.seen)::before {
	content: "new";
	display: block;
	position: absolute;
	top: 0;
	right: 1rem;
	padding: 0.5rem;
	background: var(--primary-color);
	color: white;
	writing-mode: vertical-rl;
}
.seen::before {
	content: "seen";
	display: block;
	position: absolute;
	top: 0;
	right: 1rem;
	padding: 0.5rem;
	background: var(--text-color);
	color: white;
	writing-mode: vertical-rl;
}
header {
	background: white;
	padding: 1rem;
	border-bottom: 0.5rem solid var(--primary-color);
	text-align: center;
}
body {
	background: var(--background-color);
	min-height: 100vh;
}
main {
	padding: 1rem;
	align-self: center;
	max-width: 60rem;
	width: 100%;
}
input {
	background: var(--background-color);
	padding: 1rem;
	border: none;
	border-radius: 1rem;
	width: 100%;
}
button {
	background: var(--accent-color);
	padding: 1rem;
	border: none;
	border-radius: 1rem;
}
footer {
	border-top: 0.5rem solid var(--primary-color);
	background: white;
	padding: 1rem;
	text-align: center;
	margin-top: auto;
}