* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Caveat", "Mali", cursive;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size-adjust: 0.4;
}

:root {
	--primary-color: lightskyblue;
	--background-color: lightgreen;
}

@media (max-width: 48rem) {
	#background img {
		border-radius: 1rem;
	}
	#weather::after {
		display: block;
		width: 100%;
	}
}

@media (min-width: 48rem) {
	#background {
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.card {
		width: fit-content;
	}
	.card:last-of-type {
		align-self: end;
	}
	#weather::after {
		display: inline-block;
		width: 2rem;
	}
}

a {
	text-decoration: none;
	color: var(--secondary-color);
}
header {
	position: sticky;
	top: 0rem;
	display: flex;
	flex-flow: row;
	background: var(--background-color);
	justify-content: space-between;
	z-index: 10;
}
#title {
	font-weight: bold;
	font-size: 2rem;
	padding: 1rem;
	background: var(--primary-color);
}
#background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

header > nav > a:hover {
	background: var(--primary-color);
}
body {
	min-height: 100vh;
}
main {
	position: relative;
	padding: 1rem;
	align-self: center;
	width: 100%;
}

h1 {
	font-weight: bold;
	text-align: center;
}

.card {
	background: var(--background-color);
	padding: 1rem;
	display: flex;
	flex-flow: column;
	gap: 1rem;
	border-radius: 1rem;
}
.card div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}
.card dt {
	text-align: right;
}
.card h2 {
	background: var(--primary-color);
	padding: 1rem;
	border-radius: 1rem;
	text-align: center;
}
.flex-column {
	display: flex;
	flex-flow: column;
	gap: 1rem;
}

#weather::after {
	height: 2rem;
	content: "";
	background: url("/images/weather.svg") no-repeat center / contain;
}

footer {
	background: var(--primary-color);
	padding: 1rem;
	text-align: center;
	margin-top: auto;
}