@media (min-width: 48rem) {
	.temple img {
		border-radius: 1rem;
		width: 10rem;
		height: 10rem;
		object-fit: cover;
	}
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	header > button {
		display: none;
	}
	
	header > nav {
		display: flex;
		flex-flow: row;
		flex: auto;
	}
	header > nav > a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex: auto;
		background: var(--background-color);
		transition: background 0.15s ease-in-out;
		padding: 1rem;
	}
}